<div id="content-a">
</div>
<br />
<div id="main-banner"><h2>La sección de Cindy</h2></div>
<br />
<article id="main-article">
	<%= render :partial => 'posts/post', :collection => @main_post %>
</article>
<br />
<br />
<article id="article-a">
	<h1>Artículo TCS Noticias</h1>
</article>

<article id="article-b">
	<h1>Artículo Grandiosas</h1>
</article>