h1
{
	color: red;
	margin: 5px;
}

img.main_article_image
{
	width: 200px;
	height: 200px;
	margin: 5px;
	float: left;
}

p
{
	margin: 5px;
}

a.main_article 
{
  color: #EB6207;
  position: absolute;
  right: 5px;
  bottom: 5px;
}