<div id="twitter-widget">

  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 4,
    interval: 30000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#eb920c',
        color: '#ffffff'
      },
      tweets: {
        background: '#fccf97',
        color: '#0f0f0f',
        links: '#eb6207'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      behavior: 'all'
    }
  }).render().setUser('esmitv').start();
  </script>
  
</div>